/* Explicación */
.explicacion {
  width: 500px;
  margin: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: slategrey;
  border-radius: 5px;
  color: white;
  padding: 2px 4px;
}

/* Flex comunes */

.container {
  width: 1025px;
  margin: 10px;
  background-color: black;
  border: black 2px solid;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-image: url(https://fakeimg.pl/200x100/);
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;

  color: white;
  border: black 2px solid;
  padding: 10px;
}

/* Flex específico contenedores*/

.container-row {
  flex-direction: row;
}

.container-column {
  height: 525px;
  flex-direction: column;
  align-content: flex-start;
}

/* Flex específico items*/

.item-1,
.item-13 {
  background-color: red;
}

.item-2,
.item-12 {
  background-color: orangered;
}

.item-3,
.item-11 {
  background-color: gold;
}

.item-4,
.item-10 {
  background-color: limegreen;
}

.item-5,
.item-9 {
  background-color: lightseagreen;
}

.item-6,
.item-8 {
  background-color: rgb(48, 48, 192);
}

.item-7 {
  background-color: blueviolet;
}
