.lorem-less250 {
  background-color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  color:slategray
}

.lorem-more250 {
  background-color: slategray;
  font-family: Arial, Helvetica, sans-serif;
  color:darkslategray
}