body {
    margin: 0;
}

.menu {
    width: 100%;
    background-color: purple;
    color: violet;
    position: fixed;
    z-index: 1;
    padding-left: 20px;
}

.container {
    width: 50%;
    position: absolute;
    top: 70px;
    padding-left: 20px;
}

