* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

.container {
    width: 50%;
    padding: 80px 20px 100px;
}

.menu, .cookies {
    width: 50%;
    position: fixed;
    padding: 20px;
}

.menu {
    top: 0px;
    background-color: purple;
    color: violet;
}

.cookies {
    bottom: 0px;
    height: 100px;
    background-color: gold;
}
